.capacidades{
    .tecnologia{
        ul{
            display: flex;
            list-style: none;
            justify-content: center;
            li{
                font-size: 4em;
                letter-spacing: 0.3em;                     
            }
            li:hover{
                color: $colorfondo1;
                transition: all .2s ease;
            }
        }
    }
    .proyectos{
        .descripcion{
            margin-top: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
        }
    }
}
