/*--------TIPOGRAFÍAS-------*/
$fuentetitulares: "Raleway", sans-serif;
$fuentetextos: "Roboto light", sans-serif;
$fuentenegrita: "Roboto medium", sans-serif;



/*---------GAMA CROMÁTICA------*/
$colorprincipal: #f5bf03;
$colortextos: #030303;
$colorfondo1: #ffffff;