/*--------TIPOGRAFÍAS-------*/

$fuentetitulares: "IBM Plex Sans", sans-serif;
$fuenteparrafos: 'IBM Plex Mono', monospace;
$fuentebotones: "IBM Plex Mono", sans-serif;
$fuenteepigrafesiconos: 'IBM Plex Sans', sans-serif;


/*---------FONT-WEIGHT--------*/

$pesotitulares: 400;
$pesoparrafos: 400;
$pesobotones: 500;
$pesoepigrafesiconos: 600;
$pesolinks: 500;


/*--------GAMA CROMÁTICA------*/

$colorblanco: #FFFFFF;
$colornegro: #060A24;
$colorazulclaro: #0000FF;
$colorazuloscuro: #0000A3;
$colorcyan: #00F3BB;
$colorgris: rgba($colornegro, 0.56);
